.App {
    background-color: #DDDDDD;
    padding-bottom: 10%;
}

.App-header {
    background-color: white;
    height: 50px;
}

.App-title {
    padding-left: 1%;
    padding-top: 1%;
}

.App-title1{
    color: #222;
}

.App-title2{
    color: dodgerblue;
}

.quotes{
    float: right;
    font-size: 11px;
    font-family:'Segoe UI',Arial,sans-serif;
    padding-top: 1%;
    padding-right: 1%;
}

ul.Top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dodgerblue;
}

ul.Top-nav li {float: left;}

ul.Top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: slategray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content button {
    float: none;
    color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    background-color: green;
    overflow: hidden;
    cursor: pointer;
}
.Add-new-post{
    background-color: red;
    cursor: pointer;
}

ul.Top-nav li a:hover:not(.active) {background-color: black;}

ul.Top-nav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.Top-nav li.right,
    ul.Top-nav li {float: none;}
}

.News-body{
    padding-top: 1%;
    background-color: #DDDDDD;
}

.column {
    margin-left: 32%;
    margin-right: 32%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        margin-left: 0;
        margin-right: 0;
    }
}

.card {
    transition: 0.3s;
    width: 100%;
    margin-bottom: 3%;
}


.card .container {
    background: white;
    text-align: justify !important;
    padding: 2px 16px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}
.container p{
    font-family: "Times New Roman",serif;
    font-size: smaller;
}
.Like{
    cursor: pointer;
    width: 25%;
    background: none;
    box-shadow: none;
    border: none;
    border-right: 1px solid;
}
.Comment{
    cursor: pointer;
    width: 25%;
    background: none;
    box-shadow: none;
    border: none;
}
.Like-comment{
    font-size: 13px;
    font-family: "Arial Rounded MT Bold",SansSerif;
}
.Like-comment1{
    text-align: left;
    color: red;
}
.Like-comment2{
    float: right;
    color: #0056b3;
    cursor: pointer;
}
.Time-Edit{
    font-size: 13px;
    font-family: "Arial Rounded MT Bold",SansSerif;
}
.Time{
    text-align: left;
    font-size: 9px;
    color: #0056b3;
}
.Edit{
    cursor: pointer;
    float: right;
    color: green;
}
.Author{
    float: right;
    color: darkred;
    font-size: 11px;
}
.Comment-Div{
    background: #ebedf0;
    padding: 2%;
}
.Show-comment{
    font-size: 11px;
    max-width: 98%;
    width: max-content;
    padding: 1%;
    background-color: #ffffff;
    margin-bottom: 1px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 18px;
}
.Show-comment span{
    color: #365899;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.Show-comment p{
    word-wrap: break-word;
    font-size: 13px;
    line-height: 11px;
}
.Show-comment-button button{
    font-size: 9px;
    border-radius: 40%;
    background-color: white;
    box-shadow: none !important;
}

/* modal */
.Modal {
    position: absolute;
    top: 23%;
    left: 20%;
    right: 20%;
    bottom: 21%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
}
.Modal .right{
    float: right;
}
.btncss{
    border: none;
    box-shadow: none;
    background-color: #F2F2F2;
}

.comment-form{
    background-color: white;
    margin-top: 4%;
}
.author-comment input[type=text]{
    width: 50%;
    border-radius: 25px;
    outline: none;
}
.author-comment .tarea{
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none !important;
}
.ac2 .post{
    font-size: 18px;
    float: right;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    margin-right: 2%;
}
.ac2 .cancel{
    font-size: 18px;
    float: right;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
}

.Post-Detail{
    background: white;
    width: 60%;
    margin: 3%;
    text-align: justify;
}
.Post-Detail-container{
    padding: 5%;
}
.Post-Detail-header small{
    float: right;
    color: darkred;
    font-size: small;
}
small span{
    font-size: x-small;
}

.error{
    color: red;
    font-size: small;
    text-align: center;
    text-decoration: underline;
}

.comment-control .comment-like{
    padding: 1%;
    margin-right: 1%;
    cursor: pointer;
}


.comment-control .comment-dislike{
    padding: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.comment-control .edit{
    padding: 1%;
    margin-right: 1%;
    float: right;
    cursor: pointer;
    color: #1e7e34;
}
.comment-control .delete{
    padding: 1%;
    cursor: pointer;
    margin-right: 1%;
    float: right;
    color: red;
}
.comment-control .voteScore{
    margin-left: 2%;
}

@media screen and (max-width: 600px){
    .Body-left,.Body-right{
        float: none;
        width: auto;
    }
    .Modal{
        width: 100%;
        top:0;
        left: 0 !important;
        bottom: 0 !important;
        right:0;
    }
    .Post-Detail{
        width: 100%;
        margin: 0;
    }
}

.loading {
    align-self: center;
    margin: 0 auto;
}
