.App {
    background-color: #fff;
}

.quotes{
    float: right;
    font-size: 11px;
    font-family:'Segoe UI',Arial,sans-serif;
    padding-top: 1%;
    padding-right: 1%;
}

.Material-Card {
    margin-top: 1%;
    margin-left: 22%;
    margin-right: 22%;
}

.Vote {
    width: 9%;
    margin-top: 2%;
}

.Post{
    width: 90%;
    margin-left: 1%;
}

.IconMenu {
    margin-left: 50%;
}

.topMargin{
    padding-top: 5%;
}

@media screen and (max-width: 600px) {
    .Material-Card {
        margin-top: 2%;
        margin-left: 0;
        margin-right: 0;
    }

    .IconMenu {
        margin-left: 10%;
    }
}


.Like{
    cursor: pointer;
    width: 25%;
    background: none;
    box-shadow: none;
    border: none;
    border-right: 1px solid;
}
.Comment{
    cursor: pointer;
    width: 25%;
    background: none;
    box-shadow: none;
    border: none;
}
.Like-comment{
    font-size: 13px;
    font-family: "Arial Rounded MT Bold",SansSerif;
}
.Like-comment1{
    text-align: left;
    color: red;
}
.Like-comment2{
    float: right;
    color: #0056b3;
    cursor: pointer;
}
.Time-Edit{
    font-size: 13px;
    font-family: "Arial Rounded MT Bold",SansSerif;
}
.Time{
    text-align: left;
    font-size: 9px;
    color: #0056b3;
}
.Edit{
    cursor: pointer;
    float: right;
    color: green;
}
.Author{
    float: right;
    color: darkred;
    font-size: 11px;
}
.Comment-Div{
    background: #ebedf0;
    padding: 2%;
}
.Show-comment{
    font-size: 11px;
    max-width: 98%;
    width: max-content;
    padding: 1%;
    background-color: #ffffff;
    margin-bottom: 1px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 18px;
}
.Show-comment span{
    color: #365899;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.Show-comment p{
    word-wrap: break-word;
    font-size: 13px;
    line-height: 11px;
}
.Show-comment-button button{
    font-size: 9px;
    border-radius: 40%;
    background-color: white;
    box-shadow: none !important;
}

/* modal */
.Modal {
    position: absolute;
    top: 23%;
    left: 20%;
    right: 20%;
    bottom: 21%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
}
.Modal .right{
    float: right;
}
.btncss{
    border: none;
    box-shadow: none;
    background-color: #F2F2F2;
}

.comment-form{
    background-color: white;
    margin-top: 4%;
}
.author-comment input[type=text]{
    width: 50%;
    border-radius: 25px;
    outline: none;
}
.author-comment .tarea{
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none !important;
}
.ac2 .post{
    font-size: 18px;
    float: right;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    margin-right: 2%;
}
.ac2 .cancel{
    font-size: 18px;
    float: right;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
}

small span{
    font-size: x-small;
}

.error{
    color: red;
    font-size: small;
    text-align: center;
    text-decoration: underline;
}

.comment-control .comment-like{
    padding: 1%;
    margin-right: 1%;
    cursor: pointer;
}


.comment-control .comment-dislike{
    padding: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.comment-control .edit{
    padding: 1%;
    margin-right: 1%;
    float: right;
    cursor: pointer;
    color: #1e7e34;
}
.comment-control .delete{
    padding: 1%;
    cursor: pointer;
    margin-right: 1%;
    float: right;
    color: red;
}
.comment-control .voteScore{
    margin-left: 2%;
}

@media screen and (max-width: 600px){
    .Modal{
        width: 100%;
        top:10%;
        left: 0 !important;
        bottom: 0 !important;
        right:0;
    }
}

.loading {
    align-self: center;
    margin: 0 auto;
    padding-top: 5%;
}

